@model FakturyMVC.Models.BlockUnblockViewModel
@{
    ViewBag.Title = "Użytkownik zablokowany";
}

<h2>Użytkownik zablokowany!</h2>
<p>Użytkownik <strong>@Model.FirstName @Model.LastName (@Model.Id - @Model.Email - @Model.Login)</strong> został <strong>zablokowany</strong>. Od teraz nie może się logować do serwisu.</p>
