@model FakturyMVC.Models.BlockUnblockViewModel
@{
    ViewBag.Title = "Użytkownik zablokowany";
}

<h2>Użytkownik odblokowany!</h2>

<p>Użytkownik <strong>@Model.FirstName @Model.LastName (@Model.Id - @Model.Email - @Model.Login)</strong> został <strong>odblokowany</strong>. Od teraz może się logować do serwisu.</p>
