@model FakturyMVC.Models.AddInvoiceViewModel

@{
    ViewBag.Title = "AddInvoice";
}

<br />
<h2>Dodaj fakturę</h2>
<hr />

@using (Html.BeginForm("AddInvoice", "Home", FormMethod.Post, new { @id = "searchInvoiceForm", @class = "form-inline" }))
{

    <div class="col-xs-8 pull-left">
        @Html.Label("Numer faktury", new { @class = "margin-top-10" })
        @Html.TextBox("invNumber", Model.InvNumber, new { @class = "input-sm form-control margin-right-10 margin-left-20", @readonly = "readonly" })
        <br />
        @Html.Label("Data", new { @class = "margin-top-10" })
        @Html.TextBox("date", @DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "input-sm form-control margin-right-10 margin-left-20", @readonly = "readonly" })
        <br />
        @Html.Label("Tytuł", new { @class = "margin-top-10" })
        @Html.TextBox("title", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @required = "true" })
        <br />
    </div>

    <div class="clearfix"></div>

    <h4 class="margin-top-20">Sprzedawca</h4>
    <div class="col-sm-3 pull-left margin-top-10 margin-right-10">        
        @Html.Label("Imię", new { @class = "margin-top-10" })
        <br />
        @Html.TextBox("vfirstname", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @id = "vfirstname", @required = "true" })
        <br />
        @Html.Label("Nazwisko", new { @class = "margin-top-10" })
        <br />
        @Html.TextBox("vlastname", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @id = "vlastname", @required = "true" })
        <br />
        @Html.Label("Firma", new { @class = "margin-top-10" })
        <br />
        @Html.TextBox("vcompany", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @id = "vcompany", @required = "true" })
        <br />
        @Html.Label("Vatin", new { @class = "margin-top-10" })
        <br />
        @Html.TextBox("vvatin", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @id = "vvatin", @required = "true", @type = "number", @min = "0" })
        <br />
    </div>

    <div class="col-sm-3 pull-left margin-top-40" id="vendorTableDiv">
        <table class="table table-bordered table-hover margin-top-10" id="vendorTable">
            <tr class="top-row">
                <td><b>Imię</b></td>
                <td><b>Nazwisko</b></td>
                <td><b>Firma</b></td>
                <td><b>VATIN</b></td>
            </tr> 
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="clearfix"></div>
    <button id="getVendors" class="btn margin-top-10 margin-bottom-10">Szukaj</button>
    <div class="clearfix"></div>

    <h4 class="margin-top-20">Kupiec</h4>
    <div class="col-sm-3 pull-left margin-top-10 margin-right-10">
        @Html.Label("Imię", new { @class = "margin-top-10" })
        <br />
        @Html.TextBox("bfirstname", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @id = "bfirstname", @required = "true" })
        <br />
        @Html.Label("Nazwisko", new { @class = "margin-top-10" })
        <br />
        @Html.TextBox("blastname", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @id = "blastname", @required = "true" })
        <br />
        @Html.Label("Firma", new { @class = "margin-top-10" })
        <br />
        @Html.TextBox("bcompany", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @id = "bcompany", @required = "true" })
        <br />
        @Html.Label("Vatin", new { @class = "margin-top-10" })
        <br />
        @Html.TextBox("bvatin", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @id = "bvatin", @required = "true", @type = "number", @min = "0" })
        <br />
    </div>

    <div class="col-sm-3 pull-left margin-top-40" id="buyerTableDiv">
        <table class="table table-bordered table-hover margin-top-10" id="buyerTable">
            <tr class="top-row">
                <td><b>Imię</b></td>
                <td><b>Nazwisko</b></td>
                <td><b>Firma</b></td>
                <td><b>VATIN</b></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="clearfix"></div>
    <button id="getBuyers" class="btn margin-top-10 margin-bottom-10">Szukaj</button>
    <div class="clearfix"></div>







    <div class="col-xs-8 pull-left margin-top-40">
       
        <b>Produkty</b>

        <div class="">
            <table class="table table-striped table-hover margin-top-10" id="goodsTable">
                <tr>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Cena jednostkowa</th>
                    <th>Podatek [%]</th>
                    <th>Wartość netto</th>
                    <th>Wartość brutto</th>
                </tr>

                <tr id="row0" name="row0">
                    <th>
                    </th>
                    <th>@Html.TextBox("goods[0].name", "", new { @class = "input-sm form-control goods-data", @required = "true" })</th>
                    <th>@Html.TextBox("goods[0].amount", "", new { @class = "input-sm form-control goods-data", @type = "number", @required = "true", @min = "0" })</th>
                    <th>@Html.TextBox("goods[0].price", "", new { @class = "input-sm form-control goods-data", @type = "number", @required = "true", @min = "0", @step = "0.01" })</th>
                    <th>@Html.TextBox("goods[0].tax", "", new { @class = "input-sm form-control goods-data", @type = "number", @required = "true", @min = "0", @step = "1" })</th>
                    <th>@Html.TextBox("goods[0].value", 0, new { @class = "input-sm form-control goods-data", @type = "number", @required = "true", @min = "0", @step = "0.01", @disabled=true })</th>
                    <th>@Html.TextBox("goods[0].gross", 0, new { @class = "input-sm form-control goods-data", @type = "number", @required = "true", @min = "0", @step = "0.01", @disabled=true })</th>
                </tr>
            </table>
            <button id="addRow" class="btn margin-top-10 margin-bottom-10">Dodaj produkt</button>

        </div>


        <br />

        @Html.Label("Wartość netto", new { @class = "margin-top-10" })
        @Html.TextBox("netto", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @readonly = "readonly" })
        <br />
        @Html.Label("Wartość brutto", new { @class = "margin-top-10" })
        @Html.TextBox("brutto", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @readonly = "readonly" })
        <br />
        @Html.Label("Zniżka [%]", new { @class = "margin-top-10" })
        @Html.TextBox("discount", 0, new { @class = "input-sm form-control margin-right-10 margin-left-20" })
        <br />
        @Html.Label("Podliczona wartość", new { @class = "margin-top-10" })
        @Html.TextBox("value", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @readonly = "readonly"})
        <br />


    </div>
    <div class="clearfix"></div>
    <button type="submit" name="addButton" id="addButton" value="Add" class="btn margin-top-10 margin-bottom-10">Dodaj</button>
}

<div class="clearfix"></div>



<input id="rowCount" value=0 name="0" hidden="true" />


@section Scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/custom/bootstrap-datepicker.js"></script>
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    <script src="~/Scripts/custom/HomeScripts.js"></script>

}