@{
    ViewBag.Title = "AddPartner";
}

<br />
<h2>Dodaj partnerów</h2>
<hr />

@Html.Raw(TempData["msg"])

@using (Html.BeginForm("AddPartner", "Home", FormMethod.Post, new { @id = "addPartnerForm", @class = "form-inline" }))
{

    <div class="col-xs-8 pull-left">
        @Html.Label("Imię", new { @class = "margin-top-10" })
        @Html.TextBox("firstName", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @required = "true" })
        <br />
        @Html.Label("Nazwisko", new { @class = "margin-top-10" })
        @Html.TextBox("lastName", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @required = "true" })
        <br />
        @Html.Label("Firma", new { @class = "margin-top-10" })
        @Html.TextBox("companyName", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @required = "true" })
        <br />
        @Html.Label("VATIN", new { @class = "margin-top-10" })
        @Html.TextBox("vatin", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @type = "number", @required = "true", @min = "0" })
        <br />
        @Html.Label("Adres", new { @class = "margin-top-10" })
        @Html.TextBox("address", "", new { @class = "input-sm form-control margin-right-10 margin-left-20", @required = "true" })
        <br />        
    </div>
    <div class=" clearfix"></div>
    <button type="submit" name="searchButton" id="searchButton" value="Send" class="btn margin-top-10 margin-bottom-10">Dodaj</button>
}

    <div class=" clearfix"></div>