@model FakturyMVC.Models.DALmodels.InvoiceDetails

@{
    ViewBag.Title = "InvoiceDetails";
}

<h2>Faktura nr @Model.Invoice.Number - szczegóły</h2>

<div>
    Numer: <b>@Model.Invoice.Number</b><br /><br />
    Data: <b>@Model.Invoice.DateOfIssue</b><br /><br />
    Tytuł: <b>@Model.Invoice.Title</b><br /><br />

    <b>Sprzedawca:</b><br />
    Imie i nazwisko: <b>@Model.Vendor.FirstName @Model.Vendor.LastName</b><br />
    Firma: <b>@Model.Vendor.CompanyName</b><br />
    Adres: <b>@Model.Vendor.Address</b><br />
    VATIN: <b>@Model.Vendor.Vatin</b><br /><br />

    <b>Kupiec:</b><br />
    Imie i nazwisko: <b>@Model.Buyer.FirstName @Model.Buyer.LastName</b><br />
    Firma: <b>@Model.Buyer.CompanyName</b><br />
    Adres: <b>@Model.Buyer.Address</b><br />
    VATIN: <b>@Model.Buyer.Vatin</b><br /><br />

    Produkty:<br /> 
    <div class="">
        <table class="table table-striped table-hover margin-top-10" id="invoiceDetailsgoodsTable">
            <tr>
                <th>Nazwa</th>
                <th>Ilość</th>
                <th>Cena jednostkowa</th>
                <th>Cena netto</th>
                <th>Podatek</th>
                <th>Cena brutto</th>
            </tr>
            @for (int i = 0; i < Model.Invoice.GoodsList.ProductList.Count; i++)
            {
                <tr>
                    <th>@Model.Invoice.GoodsList.ProductList[i].Name</th>
                    <th>@Model.Invoice.GoodsList.ProductList[i].Amount</th>
                    <th>@Model.Invoice.GoodsList.ProductList[i].UnitPrice</th>
                    <th>@Model.Invoice.GoodsList.ProductList[i].NetValue</th>
                    <th>@(Model.Invoice.GoodsList.ProductList[i].Tax*100)%</th>
                    <th>@Model.Invoice.GoodsList.ProductList[i].GrossValue</th>
                </tr>
            }


        </table>
    </div>

    Wartość netto: <b>@Model.Invoice.OverallNet</b><br /><br />
    Wartość brutto: <b>@Model.Invoice.OverallGross</b><br /><br />
    Zniżka: <b>@(Model.Invoice.Discount*100)%</b><br /><br />
    Podliczona wartość: <b>@Model.Invoice.OverallCost</b><br /><br />

    @if (Model.Invoice.Status == FakturyMVC.Models.DALmodels.InvoiceState.New)
    {
        using (Html.BeginForm("ChangeInvoiceStatusToPaid", "Home", FormMethod.Post, new { @id = "changeInvoiceStatus", @class = "form-inline" }))
        {
            <b>Faktura nieopłacona</b>
            @Html.Hidden("id", Model.Invoice.Id)
            <button type="submit" name="submitButton" id="changeStatus" class="btn margin-top-10 margin-bottom-10">Zmień status na opłaconą</button>
        }
    }
    else if (Model.Invoice.Status == FakturyMVC.Models.DALmodels.InvoiceState.Paid)
    {
        <b>Faktura opłacona</b>
    }
    else
    {
        <b>Faktura opłacona i zarchiwizowana</b>
    }

    <br />

</div>
